doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700', rel='stylesheet')
  link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
  title forkify // Search over 1,000,000 recipes
.container
  header.header
    img.header__logo(src=require('./img/logo.png'), alt='Logo')
    form.search
      input.search__field(type='text', placeholder='Search over 1,000,000 recipes...')
      button.btn.search__btn(type='submit')
        svg.search__icon
          use(xlink:href="./images/spritemap.svg#sprite-magnifying-glass")
        span Search
    .likes
      .likes__field
        svg.likes__icon
          use(xlink:href="./images/spritemap.svg#sprite-heart")
      .likes__panel
        ul.likes__list
          
  .results
    

  .recipe
    
  .shopping
    h2.heading-2 My Shopping List
    ul.shopping__list    
    
    .copyright
      | © by Jonas Schmedtmann. Powered by
      a.link(href='http://food2fork.com', target='_blank') Food2Fork.com
      | .
// <script  src="js/bundle.js"></script>
