ul.results__list
  // 
  li
    a.results__link.results__link--active(href='#23456')
      figure.results__fig
        img(src=require('./img/test-1.jpg'), alt='Test')
      .results__data
        h4.results__name Pas ta with Tomato ...
        p.results__author The Pioneer Woman 
.results__pages
  // 
  button.btn-inline.results__btn--prev
    svg.search__icon
      use(xlink:href="./images/spritemap.svg#sprite-triangle-left")
    span Page 1
  button.btn-inline.results__btn--next
    span Page 3
    svg.search__icon
      use(xlink:href="./images/spritemap.svg#sprite-triangle-right")
