//- Section: Main
section.section.main
  .container
    .main__item
      .main__img-content.hide-on-small-only
        h3 Diligord
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/abstract1.jpg'), alt="abstract image")
          span.card-title Diligord
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#abstract1")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
    .main__item
      .main__img-content.hide-on-small-only
        h3 Alleressa
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/abstract2.jpg'), alt="abstract image")
          span.card-title Alleressa
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#abstract2")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star_half
    .main__item
      .main__img-content.hide-on-small-only
        h3 Recogged
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/abstract3.jpg'), alt="abstract image")
          span.card-title Recogged
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#abstract3")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
      
