//- Modal 1
#abstract1.modal
  .modal-content
    h4 Dilligord
    img(src=require("../../img/gallery/abstract1.jpg") alt="abstract image 1").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
//- Modal 2
#abstract2.modal
  .modal-content
    h4 Alleressa
    img(src=require("../../img/gallery/abstract2.jpg") alt="abstract image 2").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star_half
//- Modal 3
#abstract3.modal
  .modal-content
    h4 Recogged
    img(src=require("../../img/gallery/abstract3.jpg") alt="abstract image 3").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
    
