nav.transparent.z-depth-0
  .nav-wrapper
    a.sidenav-trigger.show-on-large(href='#', data-target='mobile-nav')
      i.material-icons menu
    a.brand-logo(href='index.html') Galappear
    ul.right.hide-on-med-and-down
      li(class=(page==="Home" ? "active" : "undefined"))
        a(href='index.html') Abstract
      li(class=(page==="Logos" ? "active" : "undefined"))
        a(href='logos.html') Logos
      li(class=(page==="Gaming" ? "active" : "undefined"))
        a(href='gaming.html') Gaming
// Mobile nav 
ul.sidenav#mobile-nav
  li
    a(href='index.html') Abstract
  li
    a(href='logos.html') Logos
  li
    a(href='gaming.html') Gaming
