//- Section: Main
section.section.main
  .container
    .main__item
      .main__img-content.hide-on-small-only
        h3 Clossyo
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/gaming1.jpg'), alt="abstract image")
          span.card-title Clossyo
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#gaming1")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star_half
    .main__item
      .main__img-content.hide-on-small-only
        h3 Voyflen
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/gaming2.jpg'), alt="abstract image")
          span.card-title Voyflen
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#gaming2")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star_half
    .main__item
      .main__img-content.hide-on-small-only
        h3 Rendann
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/gaming3.jpg'), alt="abstract image")
          span.card-title Rendann
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#gaming3")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
      
