//- Modal 1
#gaming1.modal
  .modal-content
    h4 Dilligord
    img(src=require("../../img/gallery/gaming1.jpg") alt="gaming image 1").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
//- Modal 2
#gaming2.modal
  .modal-content
    h4 Alleressa
    img(src=require("../../img/gallery/gaming2.jpg") alt="gaming image 2").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star_half
    //- Modal 2
#gaming3.modal
  .modal-content
    h4 Recogged
    img(src=require("../../img/gallery/gaming3.jpg") alt="gaming image 3").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
    
