//- Section: Main
section.section.main
  .container
    .main__item
      .main__img-content.hide-on-small-only
        h3 Strizes
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/logo1.jpg'), alt="abstract image")
          span.card-title Strizes
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#logo1")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star_half
    .main__item
      .main__img-content.hide-on-small-only
        h3 Unix
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/logo2.jpg'), alt="abstract image")
          span.card-title Unix
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#logo2")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star_half
    .main__item
      .main__img-content.hide-on-small-only
        h3 Hosting
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis magnam nostrum incidunt. Incidunt dolore quos, alias autem error odit!
      .card
        .card-image
          img(src=require('../../img/gallery/logo3.jpg'), alt="abstract image")
          span.card-title Hosting
          a.btn-floating.halfway-fab.waves-effect.waves-light.red.modal-trigger(href="#logo3")
            i.material-icons add
        .card-content
          p
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
            i.material-icons star
      
