//- Modal 1
#logo1.modal
  .modal-content
    h4 Dilligord
    img(src=require("../../img/gallery/logo1.jpg") alt="logo image 1").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
//- Modal 2
#logo2.modal
  .modal-content
    h4 Alleressa
    img(src=require("../../img/gallery/logo2.jpg") alt="logo image 2").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star_half
    //- Modal 2
#logo3.modal
  .modal-content
    h4 Recogged
    img(src=require("../../img/gallery/logo3.jpg") alt="logo image 3").responsive-img
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, veritatis. Saepe doloribus deleniti nisi, odio dolores vitae adipisci ab neque.
  .modal-footer
    p
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
      i.material-icons star
    
