li
    a.likes__link(href='#23456')
        figure.likes__fig
            img(src=require('./img/test-1.jpg'), alt='Test')
        .likes__data
            h4.likes__name Pasdsta with Tomato ...
            p.likes__author The Pioneeeer Woman