.results__pages
    button.btn-inline.results__btn--prev
        svg.search__icon
            use(xlink:href="./images/spritemap.svg#sprite-triangle-left")
        span Page 1
    button.btn-inline.results__btn--next
        span Page 3
        svg.search__icon
            use(xlink:href="./images/spritemap.svg#sprite-triangle-right")