h2.heading-2 My Shopping List
ul.shopping__list    
    li.shopping__item
    .shopping__count
        input(type='number', value='500', step='100')
        p g
    p.shopping__description Pasta
    button.shopping__delete.btn-tiny
        svg
        use(href='img/spritemap.svg#sprite-circle-with-cross')
    li.shopping__item
    .shopping__count
        input(type='number', value='0.5', step='0.1')
        p cup
    p.shopping__description Ricotta cheese
    button.shopping__delete.btn-tiny
        svg
        use(href='img/spritemap.svg#sprite-circle-with-cross')
    li.shopping__item
    .shopping__count
        input(type='number', value='3.5', step='0.1')
        p tbsp
    p.shopping__description Toasted almond slices
    button.shopping__delete.btn-tiny
        svg
        use(href='img/spritemap.svg#sprite-circle-with-cross')
    li.shopping__item
    .shopping__count
        input(type='number', value='0.5', step='0.1')
        p tbsp
    p.shopping__description Sea salt
    button.shopping__delete.btn-tiny
        svg
        use(href='img/spritemap.svg#sprite-circle-with-cross')
    li.shopping__item
    .shopping__count
        input(type='number', value='0.25', step='0.1')
        p cup
    p.shopping__description Minced green onions
    button.shopping__delete.btn-tiny
        svg
        use(href='img/spritemap.svg#sprite-circle-with-cross')
    li.shopping__item
    .shopping__count
        input(type='number', value='45', step='10')
        p g
    p.shopping__description Sesame seeds
    button.shopping__delete.btn-tiny
        svg
        use(href='img/spritemap.svg#sprite-circle-with-cross')