li.shopping__item
        .shopping__count
          input(type='number', value='500', step='100')
          p g
        p.shopping__description Pasta
        button.shopping__delete.btn-tiny
          svg
            use(href='img/spritemap.svg#sprite-circle-with-cross')